  <section class="text">
    <div class="container ">

      <div class="row justify-content-md-center">
        <div class="col-md-7">

          <h1>CONCEPTION GRAPHIQUE / DIRECTION ARTISTIQUE</h1>
          <p>Conceptrice en design graphique numérique et traditionnel, je construis des campagnes 360 et réalise des projets avec le souci constant d’amener des résultats. Exigeante, créative, rassembleuse, engagée, j'excelle à trouver chaque fois ce dont
            le client a le plus besoin. Branding, guide de normes, édition, sites internet, microsites, animations et bannières, CRM, réseaux sociaux, photoshoots, tournages vidéos... À l’aise dans la gestion de projet et l’encadrement d’une équipe, ma
            passion est dans les brainstorms collectifs et ma force dans la recherche de concepts.</p>
       
              {#<div class="pdflink">#}
                       
              {#<a class="pdf" href="assets/img/portfolio.pdf" target="_lank">PORTFOLIO </a>#}
              {#</div>#}
        </div>

      </div>
    </div>
  </section>
  
