// Fonts
$font-family: 'Abel', sans-serif !default;
$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;
$body-color: #222 !default;
// Transition
$transition-base: all .2s ease-in-out !default;
// Asset paths
$path-image: '../assets/img';
$path-fonts: '../fonts';
